@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Boone's Bank</h1>
    <p class="lead">Boone's Bank offers first ever web based ATM.</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>
            Open an account with us
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Register</a></p>
    </div>
    <div class="col-md-4">
        <h2>Log in</h2>
        <p>Access your existing account.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Log in</a></p>
    </div>
    </div>
@section scripts{
    <script>var testing = true;</script>
    }
