@{
    ViewBag.Title = " Demarquise Boone Contact Information";
}
<h2>@ViewBag.Title.</h2>


<address>
     Demarquise Boone<br />
    Redmond, WA <br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

